*{
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #FFF
}

li {
    list-style: none
}

p{
    line-height: 1.8rem
}

.seat{
    flex: 1 1 auto
}

::-webkit-scrollbar {
    width:0
}

body, input, textarea, h1, h2, h3, h4 {
    font-family: "Times New Roman",Georgia,Serif;
}

h1{
    font-weight: 800;
    font-size: 3.25rem;
    padding: 0 0.2em;
    margin: 0 auto;
}

p{
    line-height: 2.6rem;
    font-size: 1.6rem;
    margin: 0.2rem auto;
}

/* 橙，黄，蓝,青 ,绿*/

.level1{
    background: -webkit-linear-gradient(to right, blue, blue);
    background: -moz-linear-gradient(to right, blue, blue);
    background: -o-linear-gradient(to right, blue, blue);
    background: linear-gradient(to right, blue, blue);
}

.level2{
    background: -webkit-linear-gradient(to right, cyan, cyan);
    background: -moz-linear-gradient(to right, cyan, cyan);
    background: -o-linear-gradient(to right, cyan, cyan);
    background: linear-gradient(to right, cyan, cyan);
} 

.level3{
    background: -webkit-linear-gradient(to right, orange, orange);
    background: -moz-linear-gradient(to right, orange, orange);
    background: -o-linear-gradient(to right, orange, orange);
    background: linear-gradient(to right, orange, orange);
}

.level4{
    background: -webkit-linear-gradient(to right, yellow, yellow);
    background: -moz-linear-gradient(to right, yellow, yellow);
    background: -o-linear-gradient(to right, yellow, yellow);
    background: linear-gradient(to right, yellow, yellow);
}  

.level5{
    background: -webkit-linear-gradient(to right, green, green);
    background: -moz-linear-gradient(to right, green, green);
    background: -o-linear-gradient(to right, green, green);
    background: linear-gradient(to right, green, green);
}
   
       