
html,body{
    height: 100%;
    width: 100% ;
    color: #FFF;
    background: #171716;
    opacity: 0.9   
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100%
}
.header,.footer {
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#171716,#000)
}
.content {
    flex: 1 1 auto;
    display: flex;
}

.content .left{
    flex: 0 0 2rem
}
.content .main{
    flex: 1 1 auto;
    min-width: 400px;
    padding: 1.5rem;
    box-shadow: -1rem -1rem 1rem;
    margin: 1.5rem;
}

.content .right{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 8rem;
    border-left:#AAA solid 0.1rem;
    font-weight: 600
}

.main section{
    margin-top: 2rem;
    border: 0.01px solid #999;
    border-radius: 1rem;
    padding: 1rem 2rem;
}


/* 右边以及菜单：Begin  */
.right nav{
    top:40%;
    position: fixed
}

.right nav a {
    display: inline-block;
    line-height:4rem;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    color: #769b7a
}

.right nav a:hover, nav a.active {
    color: #FFF;
}

/* 右边以及菜单：End  */


/* 头部：Begin */
.header{
    display: flex
}
.header .fullScreen{
    cursor: pointer;
    flex: 0 0 6rem
}
/* 头部：End */


/* home: begin */
.home {
    padding: 0 10%
}

.home .title{
    text-align: center;
    margin-bottom: 1rem
} 

.home .sub-title{
    text-align: center;
}

.home p{
    letter-spacing: 0.1rem
}

/* home: end */



/* works: Begin */
    .work-title{
        margin:3rem auto 2rem;
        text-align: center;
        font-size: 2rem;
    }
    .work-desc{
        text-align: center;
        margin: 2rem auto;
    }

    .work-previews{
        display: flex;
        flex-wrap:wrap;
    }

    .work-previews-single{
        overflow: hidden;
        text-align: center;
    }

    .work-previews div {
        flex: 1 1 25% ;
        text-align: center     
    }

    .works img{
        border: 0.01rem solid #EEE;
        border-radius: 1rem
    }

/* works: End */


/* skill:begin */

    .skill-level-desc{
        margin-top:2rem;
        display: flex;  
        flex-wrap:nowrap;      
    }
    .skill-level-color{
        width: 2rem;
        display: block;
        height: 2rem;
    }
    .skill-level-title{
        width: 4rem;     
        height: 2rem;
    }

     .skill-level-desc-item{
        width: 25%;
        line-height: 2rem;
     }

    .skill-item{
        display: flex;
        margin-top: 1rem
    }

    .skill-title, .skill-level{
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.6rem;
    }

    .skill-title{
        width: 10rem;
    }

    .skill-level{
        border: 0.1rem solid #FFF;
        width: 20rem;     
        text-align: center;
    }

/* skill:end */



 
.contact
	{	
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s;
	border-radius:5px;
	opacity:0.4;
	}

.contact-animate
	{
	opacity:1;
	background:#1ec7e6;
	}
