html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

body {
    display: flex;
    flex-direction: column
}

header,
footer {
    flex: 0 0 5%;
    text-align: center;
    background-color:rosybrown
}

#main {
    flex: 1 1 95%;
    display: flex;
}

#leftNav {
    flex: 0 0 200px;
}

#content {
    flex: 1 1 80%;
}

#contentZone{
    flex: 1 1 auto;
}

li {
    list-style: none
}

li a {
    text-decoration: none;
}